@import url("../inputs.style.scss");

.div-check-box-area {
  display: flex;
  flex-direction: row;
}

.div-check-box-box-area {
    display: flex;
    flex-direction: row;
}

.btn-check-box-ctrl {
  margin: 0 2px 0 2px;
  border: 1px solid red;
}
