<section-shell [label]="label()" [locked]="locked()">
  <div [formGroup]="inputsGroup()">
    <text-input formControlName="name" label="NAME: " customClass="txt-indiv-input"></text-input>
    <text-input formControlName="alias" label="ALIAS: " customClass="txt-indiv-input"></text-input>
    <text-input formControlName="look" label="LOOK: " customClass="txt-indiv-input"></text-input>
    <select-text name="heritage" label="HERITAGE: " [formGroup]="inputsGroup()" [groupModel]="groupModel().heritage"></select-text>
    <select-text name="background" label="BACKGROUND: " [formGroup]="inputsGroup()" [groupModel]="groupModel().background"></select-text>
    <select-text name="vice" label="VICE/PURVEYOR: " [formGroup]="inputsGroup()" [groupModel]="groupModel().vice"></select-text>
  </div>
</section-shell>

