<div>
  <h1>TESTER</h1>
  <form [formGroup]="testForm" (ngSubmit)="saveForm()">
    <button type="button" (click)="toggleEditable()">EDIT</button>
    <button type="button" (click)="resetToDefault()">RESET</button>
    <button type="submit">SAVE</button>
    <test-section sectionName="test2" [formGroup]="testForm" [resettingToDefaultParent]="resettingToDefault" [togglingEditableParent]="togglingEditable"></test-section>
    <test-section sectionName="test1" [formGroup]="testForm" [resettingToDefaultParent]="resettingToDefault" [togglingEditableParent]="togglingEditable"></test-section>
  </form>
</div>
