<section-shell [label]="label()" [locked]="locked()" (onSectionLockChange)="onSectionLockChange($event)">
  <div [formGroup]="inputsGroup()">
    <track-input formControlName="stress" label="STRESS: " [boxes]="groupModel().stress.boxes" [minMarks]="groupModel().stress.minMarks"></track-input>
    <select-table name="trauma" label="TRAUMA: " [formGroup]="inputsGroup()" [groupModel]="groupModel().trauma" tableEnforceUnique="true" showTableControls="false"></select-table>
  </div>
</section-shell>
