<div>
  <h1 class="fnt-header">TESTER</h1>
  <form [formGroup]="testForm()" (ngSubmit)="onClickSave()" autocomplete="off" autocorrect="off" spellcheck="false">
    <lock-button height="25" width="25" [locked]="locked()" (onLockedChange)="onClickLock($event)"></lock-button>
    <reset-button height="25" width="25" (onReset)="onClickReset()"></reset-button>
    <button type="submit">
      <img class="img-icon" src="/icons/MaterialIcons/save.svg" height="25" width="25" />
    </button>
    <bitd-char-basic-info-section name="basicInfo" label="BASIC INFO" [formGroup]="testForm()" [groupModel]="apiModel().basic" [locked]="locked()"></bitd-char-basic-info-section>
    <bitd-char-health-section name="health" label="HEALTH" [formGroup]="testForm()" [groupModel]="apiModel().health" [locked]="locked()"></bitd-char-health-section>
  </form>
</div>
