@page "/"
@attribute [StreamRendering]

@using Data
@using Data.Models.BitD

<PageTitle>Home</PageTitle>

<h1>Blades in the Dark Playbooks!</h1>

@foreach (BitdPlaybookModel playbook in playbooks)
{
	<div>
		<h2>@playbook.Name, @playbook.SubName</h2>
		@foreach (string descriptor in playbook.Description)
		{
			<p>@descriptor</p>
		}
	</div>
}


@code {
	private ICollection<BitdPlaybookModel> playbooks = [];

	protected override async Task OnInitializedAsync()
	{
		SetData();
	}

	private void SetData()
	{
		BitdPlaybookModel? playbook = DataApi.Instance.GetById<BitdPlaybookModel>(DbSchema.DbCols.BitD_Playbooks, 1);
		Console.WriteLine("Finished api: " + (playbook == null ? "null" : "not null"));
		if (playbook == null)
		{
			return;
		}
		Console.WriteLine("Got playbooks");
		playbooks.Add(playbook!);
	}
}