/* You can add global styles to this file, and also import other style files */
@import url("../public/styles/normalize.css");
@import url("../public/styles/fonts.css");

/* Testing styles */
* {
  /*border: 1px dashed red;*/
  margin: 1px;
  padding: 1px;
}

div {
  /*border: 1px dotted green;*/
}

/* Global Reset */
/** {
  margin: 0;
  padding: 0;
}*/

/* Global Text Styles */
* {
  font-family: LinuxLibertineBd;
}

.fnt-header {
  font-family: KirstyRg;
}

.inp-text {
  height: auto;
  width: 70%;

  text-align: center;
}

text-input {
  /*border: 5px solid black;*/
  display: flex;
  /*height: fit-content;*/
}

select-input {
  display: flex;
  /*height: fit-content;*/
}

select-text {
  display: flex;
}
