<div [class]="fullClass()">
  @if (shouldCreateLabel()) {
    <label for="inp-text">{{ label() }}</label>
  }

  @for (table of tables(); track $index; let tableIndex = $index) {
    @if (shouldShowTableArr()[$index]) {
      <table>
      <tr>
        @if (shouldCreateHeaderArr()[$index]) {
          <th>{{ tableParams()[$index].header }}</th>
        }

        @for (item of table; track $index) {
          <td>
            <button type="button" [disabled]="isLocked()" (click)="onRemoveItem(tableIndex, $index)">
              @if (!isLocked()) {
                <img class="img-icon" src="/icons/MaterialIcons/delete.svg" height="15" width="15" />
              }
              {{ item }}
            </button>
          </td>
        }

        @if (shouldCreateFooterArr()[$index]) {
          <th>{{ tableParams()[$index].footer }}</th>
        }
      </tr>
    </table>
    }
  }
  
  @if (!isLocked()) {
    <div>
      <select (change)="onChangeCustomTable($event)">
        <option value="-1" [selected]="isDefaultOptSelected()"></option>
        @for (avail of isTableAvailArr(); track $index) {
          <option value="{{ $index }}" [selected]="isOptSelectedArr()[$index]" [disabled]="!avail">{{ tableParams()[$index].name }}</option>
        }
      </select>
      <input type="text" [value]="customItem()" [placeholder]="placeholder()" (change)="onChangeCustomItem($event)" />
      <button type="button" [title]="btnWarnTooltip()" (click)="onAddCustomItem()" [disabled]="shouldShowWarnTooltip()">Add</button>
    </div>
  }
</div>
