<div [class]="fullClass()">
  @if (shouldCreateLabel()) {
    <label for="inp-text">{{ label() }}</label>
  }
  @for (table of tables(); track $index; let tableIndex = $index) {
    @if (shouldShowTableArr()[$index]) {
      <table>
      <tr>
        @if (shouldCreateHeaderArr()[$index]) {
          <th>{{ tableParams()[$index].header }}</th>
        }

        @for (item of table; track $index) {
          @if (showControls()) {
            <td>
              <button type="button" (click)="onRemoveItem(tableIndex, $index)">
                <img class="img-icon" src="/icons/MaterialIcons/delete.svg" height="15" width="15" />
                {{ item }}
              </button>
            </td>
          }
          @else {
            <td><button type="button" disabled>{{ item }}</button></td>
          }
        }

        @if (shouldCreateFooterArr()[$index]) {
          <th>{{ tableParams()[$index].footer }}</th>
        }
      </tr>
    </table>
    }
  }
  
  @if (showControls()) {
    <div>
      <select (change)="onChangeCustomTable($event)">
        @for (avail of isTableAvailArr(); track $index) {
          @if (avail) {
            @if ($index === customTable()) {
              <option value="{{ $index }}" selected>{{ tableParams()[$index].name }}</option>
            }
            @else {
              <option value="{{ $index }}">{{ tableParams()[$index].name }}</option>
            }
          }
          @else {
            <option value="{{ $index }}" disabled>{{ tableParams()[$index].name }}</option>
          }
        }
      </select>
      <input type="text" [value]="customItem()" [placeholder]="placeholder()" (change)="onChangeCustomItem($event)" />
      @if (btnWarnTooltip() === "") {
        <button type="button" [title]="btnWarnTooltip()" (click)="onAddCustomItem()">Add</button>
      }
      @else {
        <button type="button" [title]="btnWarnTooltip()" disabled>Add</button>
      }
    </div>
  }
</div>
