<div [class]="fullClass()">
  @if (shouldCreateLabel()) {
    <label for="inp-text">{{ label() }}</label>
  }

  <table>
    @if (shouldCreateHeader()) {
      <thead>
        <tr>
          <th>{{ header() }}</th>
        </tr>
      </thead>
    }

    <tbody>
      @for (item of items(); track $index) {
        <tr>
          <td>
            <button type="button" [disabled]="isLocked()" (click)="onRemoveItem($index)">
              @if (!isLocked()) {
                <img class="img-icon" src="/icons/MaterialIcons/delete.svg" height="15" width="15" />
              }
              {{ contactNameArr()[$index] }}
            </button>
          </td>
          @if (!isLocked()) {
            <td>
              <p>ALLY</p>
              <input type="checkbox" [checked]="isContactAllyArr()[$index]" (click)="onSelectAlly($index)" />
              <p>RIVAL</p>
              <input type="checkbox" [checked]="isContactRivalArr()[$index]" (click)="onSelectRival($index)" />
            </td>
          }
        </tr>
      }
    </tbody>

    @if (shouldCreateFooter()) {
      <tfoot>
        <tr>
          <th>{{ footer() }}</th>
        </tr>
      </tfoot>
    }
  </table>
  
  @if (!isLocked()) {
    <div>
      <label for="inp-custom-item">Contact:</label>
      <input id="inp-custom-item" type="text" [placeholder]="placeholder()" [value]="customItem()" (change)="onChangeCustomItem($event)" />
      <button type="button" [title]="btnWarnTooltip()" (click)="onAddItem()" [disabled]="shouldShowWarnTooltip()">Add</button>
    </div>
  }
</div>
