@import url("../inputs.style.scss");

thead, tfoot {
    background-color: black;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    border: 2px solid blue;
    letter-spacing: 1px;
}
