<div>
  <h1 class="fnt-header">TESTER</h1>
  <form [formGroup]="testForm" (ngSubmit)="saveForm()" autocomplete="off">
    <edit-button height="25" width="25" [(isEditable)]="isEditable" (onIsEditableChange)="onSetIsEditable($event)"></edit-button>
    <reset-button height="25" width="25" (onReset)="resetToDefault()"></reset-button>
    <button type="submit">
      <img class="img-icon" src="assets/icons/MaterialUI/save.svg" height="25" width="25" />
    </button>
    <bitd-char-basic-info-section sectionName="basicInfo" [formGroup]="testForm" [(sectionModel)]="basicInfoSection" [isEditable]="isEditable()"></bitd-char-basic-info-section>
    <!--<test-section-simple sectionName="test2" label="VICE/PURVEYOR: " [formGroup]="testForm" [sectionApiModel]="testApiModel().testSection2" [resetToDefaultEvent$]="resetToDefaultEvent$" [setEditableEvent$]="setEditableEvent$"></test-section-simple>-->
  </form>
</div>
