.div-sheet-track {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.div-sheet-track-box {
  margin: 0px 2px 0px 2px;
  padding: 0px;
  height: 30px;
  width: 10px;
  border: 1px solid black;
}

.div-sheet-track-box-min-marked {
  border: 1px solid red;

  background-color: black;
}

.div-sheet-track-box-marked {
  background-color: black;
}

.inp-sheet-track-control {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
}
